@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";
@import "@fontsource/lato/latin-400.css";
@import "@fontsource/lato/latin-700.css";
@import "vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css";
@import "vuetify/dist/vuetify.css";

body, html {
  font-family: 'Lato', sans-serif;
  font-size: 10.5pt;
  overflow-y: hidden !important;
  margin: 0;
  padding: 0;
  background-color: #2f3136;
  color: #b9bbbe;
}

$font-family: 'Lato';

.v-application {
[class*='text-'] {
  color: #b9bbbe;
  font-family: $font-family, sans-serif !important;
}
  .v-label {
    font-size: 10.5pt !important;
  }
  .v-window, .v-window-item {
    height: 100%;
  }
  .v-switch__thumb {
    color: rgb(100, 100, 100);
  }
  input {
    color: #b9bbbe;
  }
  font-family: $font-family, sans-serif !important;
}

.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;

  >.v-label {
    flex: 0 1 auto !important;
  }
  .v-application--is-ltr & {
    .v-input--selection-controls__input {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  .v-application--is-rtl & {
    .v-input--selection-controls__input {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
  z-index: 500;
}
