{
  "root": true,
  "env": {
    "node": true,
    "commonjs": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "plugin:vue/vue3-recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
