body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.titlebar {
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    &__button {
        -webkit-app-region: no-drag;
    }
}

#log {
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 20px 0 32px 0;
    padding: 8px 0 0 8px;
    overflow-y: scroll;
}

#bar {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    height: 32px;
}
